
.p-toast.p-component.p-toast-top-right{
    z-index: 99999 !important;
}
.p-toast-summary{
    font-size: 12px !important;
}
.p-toast-detail{
    font-size: 12px !important;
}
.p-toast-close-icon	{
    font-size: 12px !important;

}
.p-toast-close-button {
    font-size: 12px !important;

}
/* imput text */
.p-inputtext{
    font-size: 14px  !important;
}

/**/
  th.header-derecha .p-column-header-content {
      display: block !important;
      text-align: right !important;
    }
  
  .active-sub[data-v-6dec5f19]{
    background: #1c3550 !important;
    color: white !important;
  }


  .p-datepicker-day-selected {
    background-color: #bbdefb !important;
    color: black !important;
    border-radius: 0 !important;
  }
  
  /* Primer seleccionado (inicio del rango) */
  .p-datepicker-day-cell .p-datepicker-day-selected:first-child {
    background-color: rgb(3, 104, 68) !important;
    color: white !important;
    border-radius: 50% !important;
  }
  
  /* Último seleccionado (fin del rango) */
  .p-datepicker-day-cell .p-datepicker-day-selected:last-child {
    background-color: red !important;
    color: white !important;
    border-radius: 50% !important;
  }
  
/* DropDow Prime vue*/
  .p-select-label{
    font-size: 14px !important;

  }
  .p-select-label .select-color{
    color: white !important;
  }
  .p-select-list{
    font-size: 15px !important;
  }

  #mainnav-container, .effect #navbar, .effect .navbar-brand, .effect .navbar-content, .effect .navbar-header:before, .effect .page-fixedbar-container {
    transition-property: width, padding, left, right;
    transition-duration: .35s;
    z-index: 900;
  }
